{% extends 'base.html' %}

{% block title %}Add New Event{% endblock %}

{% block content %}
<style>
    body {
        background-color: #649bf5;
    }   
    a {
        color: rgb(189, 116, 116);
    }
</style>

<div class="container-fluid" style="padding-left: 0;">
    <h1>Add New Event</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_title">Title:</label>
            {{ form.title }}
            {% if form.title.errors %}
                <div class="alert alert-danger">{{ form.title.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group mt-3">
            <label for="id_description" class="form-label">Description:</label>
            <div class="input-group">
                {{ form.description }}
                {% if form.description.errors %}
                    <div class="alert alert-danger">{{ form.description.errors }}</div>
                {% endif %}
            </div>
        </div>
        <div class="form-group mt-3">
            <label for="id_start_datetime">Start Date and Time:</label>
            <div class="input-group date" id="start_datetime_picker">
                {{ form.start_datetime }}
            </div>
            {% if form.start_datetime.errors %}
                <div class="alert alert-danger">{{ form.start_datetime.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group mt-3">
            <label for="id_end_datetime">End Date and Time:</label>
            <div class="input-group date" id="end_datetime_picker">
                {{ form.end_datetime }}
            </div>
            {% if form.end_datetime.errors %}
                <div class="alert alert-danger">{{ form.end_datetime.errors }}</div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary mt-3">Save</button>
    </form>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{{ form.media }}
{% endblock %}
