{% extends 'base.html' %}

{% block content %}
    <h1>Event List</h1>
    <a href="{% url 'add_event' %}" class="btn btn-primary">Add Event</a>
    <h2>Nearest Event:</h2>
    {% if nearest_event %}
        <p>{{ nearest_event.title }} - {{ nearest_event.start_datetime }}</p>
    {% else %}
        <p>No nearest event found.</p>
    {% endif %}
    <h2>Farthest Event:</h2>
    {% if farthest_event %}
        <p>{{ farthest_event.title }} - {{ farthest_event.start_datetime }}</p>
    {% else %}
        <p>No farthest event found.</p>
    {% endif %}
    <h2>All Events:</h2>
    <ul>
        {% for event in events %}
            <li>{{ event.title }} - {{ event.start_datetime }}</li>
        {% endfor %}
    </ul>
{% endblock %}
